main{
  position: relative;
}

header{
  display: flex;
  gap: 1.5rem;
  padding: 2rem 0;
  justify-content: space-around;
}

.highlight__box{
  width: 30%;
  height: 7rem;
  background: var(--color-background-primary);
  border-radius: 2rem;
  display: flex;
  /* padding: 2rem; */
}

.attribute__box{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  font-family: 'Open Sans', sans-serif;
}

.attribute__box h3{
  font-size: 1.8rem;
  color: var(--font-color-primary);
  font-weight: 800;
  text-align: end;
}

.attribute__box span{
  color: var(--font-color-primary);
  font-size: 1.5rem;
  text-align: start;
  font-weight: 200;
}

.icon__container{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icon__box{
  font-size: 4rem;
  color: var(--font-color-primary);
  text-align: center;
  margin: 0 auto;
}

section{
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.employee__ability{
  display: flex;
  flex-direction: column;
  padding: 1.3rem 1rem;
  width: 60%;
}

.employee__performance{
  width: 100%;
  height: auto;
  background: #fff;
  padding: 1.5rem 1rem;
  border-radius: 2rem;
}

.employee__performance h3{
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
  margin-bottom: 0.3rem;
}

.employee__performance > article{
  width: 100%;
  height: 20rem;
  border: 1px solid var(--font-color-primary);
  margin: auto;
}
