@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,600;1,800&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

:root{
  --color-primary: #5AB9EA;
  --color-background: #84CEEB;
  --color-background-primary: #5680E9;
  --font-color-primary: #C1C8E4;
  --gradient-color-primary: #8860D0;
}
