.navbar__brand{
  width: 18.75rem;
  background: var( --color-background-primary);
  height: 100vh;
  position: fixed;
}

.navbar__header{
  padding: 0.5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--font-color-primary);
}

.navbar__header p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin: auto 0;
  font-weight: 600;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar__wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--font-color-primary);
  height: calc(100% - 8rem);
  overflow-y: scroll;
  overscroll-behavior-y: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.navbar__wrapper::-webkit-scrollbar{
  display: none;
}

.navbar__category{
  color: var(--font-color-primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navbar__category > .category__name{
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: 800;
  padding-left: 0.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar__category > nav ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list__item{
  display: flex;
  gap: 0.5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  color: var(--font-color-primary);
  height: 2.5rem;
}

.active,
.list__item:hover{
  background: var(--color-background);
  color: var(--gradient-color-primary);
}

.list__item > .list__icon,
.list__item > li{
  text-align: center;
  margin: auto 0;
}

.navbar__footer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 4rem;
  padding: 0.5rem;
}

.navbar__footer > .footer__icon,
.navbar__footer > p{
  font-size: 1.5rem;
  color: var(--font-color-primary);
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: auto 0;
}
