.navbar__brand{
  width: 5rem;
  background: var(--color-background-primary);
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.sidebar__brand, .sidebar__profile{
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  margin: 1rem 0 0.3rem 0;
}

.sidebar__header, .profile__image{
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
}

.sidebar__header img, .profile__image img{
  height: 80%;
  border-radius: 50%;
  border: 1px solid var(--font-color-primary);
}

.line__break{
  margin: 0.2rem auto;
  border: 1px solid var(--font-color-primary);
  width: 80%;
}

.sidebar__body > p{
  font-size: 1.21rem;
  text-align: center;
  font-weight: lighter;
  padding: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color-primary);
}
.sidebar__body > nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.nav__icon{
  font-size: 1.5rem;
  color: white;
  margin: auto;
  display: flex;
  justify-content: center;
}
