.navbar__brand{
  width: 15rem;
  background: var(--color-background-primary);
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* transition: all 0.5s ease-in-out; */
}

/* Navbar Brand Style Start */
.sidebar__brand{
  width: 100%;
  height: 5rem;
}

.sidebar__header{
  padding: 0.5rem 0;
  margin: 1rem 0 0 0;
}

.sidebar__header h3{
  padding: 0.5rem 0.5rem 0 0.5rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--font-color-primary);
  opacity: 1;
}
/* Navbar Brand Style End */

/* Line Breaker Style Start */
.line__break{
  margin: 0 auto;
  border: 1px solid var(--font-color-primary);
  width: 80%;
}
/* Line Breaker Style End */

/* Profile Section Style Start */
.sidebar__profile{
  width: 100%;
  height: 5rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.sidebar__profile:hover{
  background-color: #4768bb;
}

.profile__image{
  height: 100%;
  padding: 0.5rem 1rem;
}

.profile__image > img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--font-color-primary);
}

.sidebar__profile{
  display: flex;
}

.user__profile{
  padding: 0.5rem 0;
  color: var(--font-color-primary);
  margin: auto 0;
  opacity: 1;
}

.user__profile .user__email{
  width: 100%;
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
}

.user__profile span{
  font-size: 0.8rem;
  font-weight: 400;
}

.user__dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.135rem;
}

.dropdown__icon{
  font-size: 1.2rem;
  color: var(--font-color-primary);
}
/* Profile Section Style End */

/* Sidebar Navigation Style Start */
.sidebar__body > p{
  font-size: 1.21rem;
  text-align: center;
  font-weight: lighter;
  padding: 0.3rem;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color-primary);
}

.sidebar__body > nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 0.6rem;
  padding-left: 2rem;
}

.nav__item{
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
}

.nav__icon{
  font-size: 2rem;
  color: var(--font-color-primary) !important;
  justify-content: start;
}

.nav__item li{
  color: var(--font-color-primary) !important;
  font-size: 1.5rem;
  margin: auto 0.3rem;
  font-family: 'Open Sans', sans-serif;
}

.active,
.nav__item:hover{
  color: var(--color-primary);
  background-color: #4768bb;
}
/* Sidebar Navigation Style End */
