.navbar__brand{
  width: 15%;
  height: 100vh;
  position: fixed;
  background: #4481eb;
  overflow: hidden;
}

.sidebar__brand{
  display: flex;
  flex-direction: column;
}

.sidebar__header{
  width: 100%;
  height: 20%;
  background: #1a3c76;
  text-align: center;
  padding: 20px;
}

.sidebar__header span{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  /* color: rgb(109, 218, 218); */
}

.sidebar__body{
  padding-top: 1.3rem;
  width: 100%;
}

.sidebar__body nav ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
}

.sidebar__body nav ul > .nav__item{
  display: flex;
  gap: 1rem;
}

.nav__item > .nav__icon{
  font-size: 2rem;
  margin: auto 0;
  color: white;
}

.nav__item li{
  font-size: 1.3rem;
  margin: auto 0;
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
